<div>
	<div class="parallax-container">
		<h2>
			<center>Shadow Innovates</center>
		</h2>
    	<div class="parallax">    		
			<%= image_tag("shadow1.jpg") %>
    	</div>
  	</div>
  	<div class="section white">
    	<!-- <div class="row container">
      		<h2 class="header">Parallax</h2>
      		<p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    	</div> -->
    	<div class="row container">
    		<div class="col s4">
    			<a href="#">
    				<div class="card waves-effect waves-teal">
			            <div class="card-image">
			              <%= image_tag("camera.jpg") %>
			              <span class="card-title">Corporate Videos</span>
			            </div>
			            <div class="card-content">
			              <p>Corporate videos content</p>
			            </div>
		          	</div>
    			</a>		         	
    		</div>

    		<div class="col s4">
    			<a href="#">
    				<div class="card waves-effect waves-teal">
			            <div class="card-image">
			              <%= image_tag("camera.jpg") %>
			              <span class="card-title">Video Promotions</span>
			            </div>
			            <div class="card-content">
			              <p>Promotions content</p>
			            </div>
		          	</div>
    			</a>	    			
    		</div>

    		<div class="col s4">
	    		<a href="#">
	    			<div class="card waves-effect waves-teal">
			            <div class="card-image">
			              <%= image_tag("camera.jpg") %>
			              <span class="card-title">Ad Films</span>
			            </div>
			            <div class="card-content">
			              <p>Af Films content</p>
			            </div>
		          	</div>
	    		</a>
    		</div>
    	</div>

    	<div class="row container">
    		<div class="col s4">
		        <a href="#">
		        	<div class="card waves-effect waves-teal">
			            <div class="card-image">
			              	<%= image_tag("camera.jpg") %>
			              	<span class="card-title">Cinematic Wedding Videos</span>
			            </div>
			            <div class="card-content">
			              	<p>Wedding content</p>
			            </div>		           
		          	</div>
		        </a>
    		</div>

    		<div class="col s4">
	    		<a href="#">
	    			<div class="card waves-effect waves-teal">
			            <div class="card-image">
			              	<%= image_tag("camera.jpg") %>
			              	<span class="card-title">Photography</span>
			            </div>
			            <div class="card-content">
			              	<p>Photography content</p>
			            </div>		           
		          	</div>
	    		</a>
    		</div>
    		<div class="col s4">
	    		<a href="#">
	    			<div class="card waves-effect waves-teal">
			            <div class="card-image">
			              	<%= image_tag("camera.jpg") %>
			              	<span class="card-title">Documentries</span>
			            </div>
			            <div class="card-content">
			              	<p>Documentries content</p>
			            </div>		           
		          	</div>
	    		</a>
    		</div>
    	</div>
  	</div>
</div>
