<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :category_id %><br>
      <%= f.select :category_id, Category.all.collect { |p| [ p.name, p.id ] }, include_blank: true, placeholder: "choose your option" %>
    </div>
  </div>

  <div class="row">
    <div class="file-field input-field">
      <div class="btn">
        <span>Image</span>
        <%= f.file_field :image %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </div>
    
  <div class="actions" align="center">
    <%= f.button "Save", class: "btn waves-effect waves-teal" %>
  </div>
<% end %>
