<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | ShadowInnovates</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="http://vjs.zencdn.net/5.9.2/video-js.css" rel="stylesheet">

  <!-- If you'd like to support IE8 -->
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
      <script src="http://vjs.zencdn.net/5.8.8/video.js"></script>
</head>
<body>

	<%= render partial: "/layouts/header" %>

<!-- 
	<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p> -->

         <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
          <a class="btn-floating btn-large teal">
            <i class="large material-icons">pages</i>
          </a>
          <ul>
            <li><a class="btn-floating red"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            <li><a class="btn-floating yellow darken-1"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a class="btn-floating blue"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a class="btn-floating blue darken-3"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          </ul>
        </div>


<%= yield %>

	<%= render partial: "/layouts/footer" %>


</body>
</html>
